---
layout: default
single: true
---
<article>
  {% include article.html %}
  <footer>
    <section class="meta">
      <p>
        {% include post/author.html %}
        <!--{% include post/date.html %}{{ time }}{% if updated %}
            {{updated }}{% endif %}-->
      </p>
      <p class='categories'>{% include post/categories.html %}</p>
    </section>
    <section class='pagination'>
      <table><tr>
        {% if page.previous.url %}
        <th class='left'><p><a href="{{page.previous.url}}"
            title="Previous Post: {{page.previous.title}}">&laquo; </a></p></th>
        <td class='left'><p><a href="{{page.previous.url}}"
            title="Previous Post: {{page.previous.title}}">{{page.previous.title}}</a></p></td>
        {% else %}
        <th class='left'></th>
        <td class='left'></td>
        {% endif %}
        {% if page.next.url %}
        <td class='right'><p><a href="{{page.next.url}}"
            title="Next Post: {{page.next.title}}">{{page.next.title}}</a></p></td>
        <th class='right'><p><a href="{{page.next.url}}"
            title="Next Post: {{page.next.title}}"> &raquo;</a></p></th>
        {% else %}
        <td class='right'></td>
        <th class='right'></th>
        {% endif %}
      </tr></table>
    </section>
  </footer>
</article>
