@font-face {
  font-family: 'DefaultSans';
  src: url('/style/DroidSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DefaultdSerif';
  src: url('/style/DroidSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DefaultMono';
  src: url('/style/Hermit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.defaultSans {
  font-family: 'DefaultSans', 'Droid Sans';
  line-height: 1.5em;
  letter-spacing: -1px;
  color: $text-color;
}

.defaultSerif {
  font-family: 'DefaultSerif', 'Droid Serif';
  font-size: $h3;
  line-height: 1.5em;
  letter-spacing: -1px;
  color: $text-color;
}

.defaultMono {
  font-family: 'DefaultMono', 'Hermit';
  font-size: $h5;
  line-height: 1.2em;
  letter-spacing: -1px;
  color: $text-color;
}

.defaultTitle {
  font-family: 'DefaultSans', 'Droid Sans';
  line-height: 1.5em;
  letter-spacing: -1px;
  color: $text-color;
  font-weight: bold;
  color: $header-color2;
}

.smallSans {
  font-family: 'DefaultSans', 'Droid Sans';
  line-height: 1.5em;
  letter-spacing: -1px;
  color: $text-color;
}
