body {
  article {
    header {

      h1 {
        @extend .defaultTitle;
        @include links($color3, $color3);
        padding-top: $padding/2;
        padding-bottom: $padding/2;
        padding-right: $padding/2;
        background-color: $color1;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p {
        @extend .defaultSans;
        padding: $padding/2;
        border-bottom: 2px solid #000;
        background-color: #fff;
      }
    }

    section {
      h1, h2, h3, h4, h5, h6 {
        @extend .defaultSans;
        margin-top: $margin/2;
        margin-left: $margin/2;
        margin-right: $margin/2;
      }

      p, ol,
      p, ul {
        @extend .defaultSans;
        margin-top: $margin/2;
        margin-left: $margin/2;
        margin-right: $margin/2;
        margin-bottom: 0px;
        padding-bottom: $padding/2;
      }

      ol,
      ul {
        @extend .defaultSans;
        display: block;
        list-style-type: disc;
        margin: $margin;
        margin-bottom: 0px;
        padding-bottom: $padding/2;
        margin-left: (2 * $margin);
      }

      ol {
        list-style-type: decimal;
      }

      figure.img, img, video {
        @extend .basic-alignment;
        display: block;
        background-color: $img-bg;
        line-height: 0px;
        font-size: 0px;
      }

      figure.img {
        figcaption {
          @extend .defaultSans;
          margin-top: 5px;
          border: 1px solid #ccc;
          background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
          text-align: center;
          line-height: 1.5em;
          font-size: 13px;
        }
      }

      figure.equation {
        display: block;
        border: 1px solid $color1;
        border-left: 0px;
        border-right: 0px;
        padding: $padding/2;
        background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
      }

      pre {
        display: block;
        padding: $padding/2;
        border: 1px solid $color1;
        border-left: 0px;
        border-right: 0px;
        background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        overflow-y: scroll;
      }

      hr {
        clear: both;
        margin-top: $margin/2;
        padding-bottom: $padding/2;
        color: $color0;
        height: 3px;
      }

      del {
        text-decoration: line-through;
      }

      blockquote {
        @extend .defaultSans;
        background-color: #fcfcfc;
        font-style: italic;

        &::before {
          float: left;
          content: "„";
          font-size: 800%;
          font-family: "Liberation Serif";
          color: #cecece;
          margin: $margin;
          margin-top: -(1.5 * $margin);
          margin-bottom: (2.8 * $margin);
        }

        address {
          display: inline;
          &::before { content: "— "; }
          margin-top: -5px;
          margin-left: $margin/2;
          margin-right: $margin/2;
          text-align: right;
        }
      }

      iframe {
        display: block;
      }
    }

    footer {
      border-top: 2px solid $color1;
      border-bottom: 2px solid $color1;
      background-color: $color0;

      section.meta {
        margin: 0px;
        padding: 0px;
        background-color: $color1;
        text-align: center;

        p {
          @include links($color3, $color3);
          @extend .smallSans;
          color: $color0;
          margin: 0px;
          padding: 0px;
        }
      }

      section.pagination {
        p {
          @extend .defaultSans;
          margin-top: $margin/2;
          margin-bottom: $margin/2;
        }

        table {
          @include links($color3, $color3);
          width: 100%;
          background-color: $color1;

          th.left, th.right {
            width: 5%;
            padding-top: $padding/2;
          }

          td.left, td.right {
            @include links($color6, $color6);
            background-color: $color0;
            width: 40%;
            padding-top: $padding/2;
          }

          td.left { text-align: left; }
          td.right { text-align: right; }
        }
      }
    }
  }
}
