body {
  footer {
    background-color: $footer-bg;

    section.posts {
      border-top: 2px solid $color1;
      border-bottom: 2px solid $color1;
      margin-left: -5px;
      margin-right: -5px;
      background-color: $color0;
      padding-top: $padding/2;
      padding-bottom: $padding/2;

      ul {
        @extend .defaultSans;
        list-style: none;
        margin-left: 0;

        li {
          @include links($color2, $color6);
          text-transform: uppercase;
          border-bottom: 1px solid $extra-border;
        }

        li:last-child { border-bottom: none; }
      }
    }

    section.copyright {
      @extend .smallSans;
      @include links($color3, $color3);
      color: $color0;
      background-color: $color1;
    }
  }
}
