body > footer {
  @extend .smallSans;
  background-color: $footer-bg;
  color: $footer-color;

  section { border-top: 4px solid $footer-border; }

  p { margin-top: 10px; margin-bottom: 10px; }

  a {
    @include link-colors($footer-link-color, $footer-link-color-hover,
      $visited: $footer-link-color-visited);
  }

  ul {
    list-style: none;
    margin-left: 0;
    li {
      text-transform: uppercase;
      border-bottom: 1px solid $extra-border;
    }
    li:last-child { border-bottom: none; }
  }
}
