body {
  nav {
    background-color: $nav-bg;
    border-top: 2px solid $color2;
    border-bottom: 2px solid $color2;
    text-align: center;
    padding-top: $padding;
    padding-bottom: $padding/2;
    margin-top: -($margin/1.5);

    span {
      @extend .defaultSans;
      margin: 5px;
      padding: 2px;
      text-transform: uppercase;
      line-height: 1em;
      font-size: 1.2em;
      color: $nav-color;
    }
  }
}
