.thumbnails {
  text-align: center;
}

.thumbnails > .thumbnail {
  margin: 5px;
  width: 150px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.clear {
  @include shadow-box($border: none, $shadow: rgba(#000, .25) 0 0px 0px, $border-radius: 0em);
  border: 0px solid #000000;
  background: none;
}
